html{
	font-family: 'Noto Sans TC', sans-serif;
}

body{
	font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6 , p, div{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.2rem ;
	text-transform: none ;
	letter-spacing: -0.05rem ;
	text-color: rgb(255,99,71)
	
}

h1 .text-primary{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 2rem ;
	letter-spacing : -0.05rem ;
	line-height : 1.5rem
}

h2 .text-primary{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 2rem ;
	letter-spacing : -0.05rem ;
	line-height : 1.5rem
}

h3 .text-primary{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 2rem ;
	letter-spacing : -0.05rem ;
	line-height : 1.5rem
}

h4 .text-primary{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.2rem ;
	letter-spacing : -0.05rem ;
	line-height : 1rem
}

h5 .text-primary{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1rem ;
	letter-spacing : -0.05rem ;
	line-height : 1rem
}

h6 .text-primary{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1rem ;
	letter-spacing : -0.05rem ;
	line-height : 1rem
}

div .intro-heading text-uppercase{
	text-color: #ff6347
}

nav-link js-scroll-trigger active{
	text-color: #FFFFFF
}

#mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #FFFF77;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #125d70;
    border: 0;
    background-color: #FFFF77;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

ul.social-buttons {
    margin: 0  auto;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
background-color: #CCCCFF;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #125d70;
    border-radius: 100%;
    outline: 0;
	background-color: #FFFF77;
}

.timeline>li .timeline-image {

    background-color: #FFFF77;
}
